@import
url('https://fonts.googleapis.com/css2?family=Castoro&family=Nunito:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  max-width: 90%;
  margin: 0 auto;
}

body {
  background-color: #0D2025;
}

.fc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

ul {
  list-style: none;

}

li {
  display: inline;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;

}

nav {
  padding: 20px 0px 20px 0px;
  font-size: 14px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 18px;
    padding: 35px;
}

a {
  text-decoration: none;
  color: #7DAB9B;
  font-size: 20px;
}

a:visited {
  color: white;
}

a:hover {
  color: #E47855;
}

#logo {
  height: 75px;
}

button {
  background-color: #E47855;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

#grid-container {
  display: grid;
  grid-template-rows: 100px auto auto auto 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "top top top"
  "aside aside aside"
  "main main main"
  "aside2 aside2 aside2"
  "main2 main2 main2"
  "footer footer footer";
  grid-gap: 1vh;
}

#top {
  grid-area: top;
}

#aside {
  grid-area: aside;
  text-align: left;
}

#main {
  grid-area: main;
}

#aside2 {
  grid-area: aside2;
}

#main2 {
  grid-area: main2;
}

#footer {
  grid-area: footer;
}

h2  {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #7DAB9B;
  font-size: 58px;
}

h3  {
  font-family: 'Nunito', sans-serif;
  color: #E47855;
  font-size: 36px;
  border-bottom: 3px #E47855 solid;
}
p {
  color: white;
  font-size: 18px;
}

.pics {
  width: 300px;
  display: inline;
  float: left;
  padding: 20px;
}

